/*
 * Sphinx doesn't have support for section dividers like we do in
 * MkDocs, this styles the section titles in the nav
 *
 * https://github.com/tomchristie/mkdocs/issues/175
 */
 body{
 	color: rgb(3,3,3);
 }
.wy-menu-vertical span {
    line-height: 18px;
    padding: 0.4045em 0.809em;
    display: block;
    position: relative;
    font-size: 90%;
    color: #838383;
}

/*
 * Long navigations run off the bottom of the screen as the nav
 * area doesn't scroll.
 *
 * https://github.com/tomchristie/mkdocs/pull/202
 */
.wy-nav-side {
    height: 100%;
    overflow-y: auto;
}
/*
*
* Searchbox background
*/

.wy-side-nav-search {
  background: #f2f1f0;
}

/*
*
* Top box for mobile view
*/

.wy-nav-top {
  position: relative;
  top: 65px;
  background: #888;
}

/*
 * Fix wrapping in the code highlighting
 *
 * https://github.com/tomchristie/mkdocs/issues/233
 */
code {
    white-space: pre;
}
#vertical{
	padding-bottom: 105px;
}
header{
	/*height: 50px;*/
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 100;
	height: 65px;
	overflow: hidden;
	background-color: rgba(255,255,255,0.8);
}
header hgroup{
	height: 45px;
	max-width: 94%;
	width: 1060px;
	margin: 0 auto;
}
nav.stickynav{
	top:65px;
	z-index: 5;
}
.wy-nav-content{
	margin-top: 65px;
	background: white;
}
#site-logo {
	margin: 2px 0 0;
	font-weight: 300;
	font-size: 1.625em;
	text-transform: uppercase;
	float: left;
}
#site-logo a {
font-family: "Roboto Condensed";
color: #030000;
font-size: 36px;
font-weight: normal;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
text-decoration: none;
}
.horizontal-menu {
margin: 0;
margin-top: 6px;
padding: 0;
padding-right: 125px;
float: right;
z-index: 100;
}
.horizontal-menu li {
margin: 0;
padding: 0;
list-style: none;
float: left;
position: relative;
}
.horizontal-menu a {
font-family: "Roboto Condensed";
display: block;
padding: 4px 15px;
margin: 0 5px 0 0;
font-size: 16px;
line-height: 1.5em;
text-decoration: none;
color: #000;
}
a:hover {
color: #7f7f7f;
}
.current-menu-item a {
background: #333;
color: #fff;
border-radius: 5px;
}
.wy-nav-content-wrap{
	background: white;
}
nav.stickynav{
background: #fafafa;
}
nav.stickynav a{
	color: #333;
}
nav.stickynav a:hover{
	background-color: transparent;
}
.wy-menu-vertical li.current a{
	background: #f2f1f0;
	color: #333;
	border-right: none;
}
.wy-menu-vertical li.current a:hover{
	background: #f2f1f0;
}
.wy-menu-vertical li.current>a{
	background: #fafafa;
}
nav.stickynav a:hover, .wy-menu-vertical li.on a, .wy-menu-vertical li.current>a{
	color: #008cff;
}
.rst-versions{
	border-top: solid 1px #c9c9c9;
}
.rst-versions .rst-current-version{
		background-color: rgb(250, 250, 250);
}
.rst-versions .rst-current-version span a{
	color: #333;
}
@media screen and (max-width:768px){
	.horizontal-menu-wrap{
		display: none;
	}
}
